
body {
    background-color: #0a0a0a;
    color: #f6f3f3;
}

.menu-list-group {
  position: absolute;
}

.menu-list-group:nth-child(odd) {
  width: 103mm;
    height: auto;
    border: #05050508 solid 1pt;
    position: absolute;
    left: 10mm;
    top: 36mm;
    font-weight: bold;
    color: black;
}

.menu-list-group:nth-child(even) {
   width: 100mm;
    height: auto;
    border: #09040400 solid 1pt;
    position: absolute;
    right: 4mm;
    bottom: 38mm;
    font-weight: bold;
    color: black;
}

body .menu-wrapper {
   border: 23pt solid white;
    margin: auto;
    overflow: hidden;
    background: lightgray;
    background-blend-mode: multiply, multiply;
    left: auto;
    top: auto;
    width: 250mm;
    height: 350mm;
    position: relative;
 }
 
 

 
.box1
 {
 position: absolute;
    left: 0mm;
    width: 234mm;
    top: 0mm;
    height: 333mm;
    color: white;
    border-width: 1.3mm;
    border-style: solid;
    border-color: black;
    z-index: 15;
    border-radius: 11pt;
    overflow: hidden;
 }
.dot {
 height: 28px;
    width: 29px;
    margin-top: 12mm;
    left: 117mm;
    top: 84mm;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 0;
}
.dot1 {
 height: 23px;
    width: 23px;
    margin-top: 16mm;
    left: 135mm;
    top: 162mm;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 0;

}
.dot2 {
    height: 28px;
    width: 27px;
    margin-top: 16mm;
    left: 92mm;
    top: 242mm;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 0;

}
.line1{
	height: 1mm;
    width: 85mm;
    margin-top: 119mm;
    margin-left: 59mm;
    background-color: black;
    position: absolute;
}
.line2{
	height: 1mm;
    width: 85mm;
    margin-top: 196mm;
    margin-left: 138mm;
    background-color: black;
    position: absolute;
   
}
.line3{
	height: 1mm;
    width: 141mm;
    margin-top: 282mm;
    margin-left: 16mm;
    background-color: black;
    position: absolute;
   
}
 
 
.box5
{
  height: 45pt;
    width: 105pt;
    position: absolute;
    left: 107pt;
    top: 103pt;
    background-color: rgb(254, 254, 253);
}
 
 .restorent-name
 {
   color:black;
    font-weight: bolder;
    font-size: 47pt;
	 font-family: "Grey Qo", cursive;
     font-weight: 400;
    font-style: normal;
    position: relative;
    left: 81pt;
    top: 24pt;
 }
 
 .restorent-discription
 {
   color: white;
    font-weight: bolder;
    font-size: 27pt;
    font-style: normal;
    position: relative;
    left: 121pt;
    top: 16pt;
    background-color: black;
    width: 58mm;
 }
 
 .restaurant-add-content
 {
  width: 1000pt;
    position: absolute;
    top: -15pt;
    left: -269pt;
 }
 
 .restaurant-phone
 {
     position: absolute;
    top: 888pt;
    left: 295pt;
    font-size: 20pt;
    color: black;

 }
 
 .restaurant-web
 {
  position: absolute;
    top: 919pt;
    left: 306pt;
    font-size: 20pt;
    color: black;
 }
 
 .restaurant-email
 {
  position: absolute;
    top: 920pt;
    left: 588pt;
    font-size: 20pt;
    color: black;
 }

 .menu-list-heading1
 {
height: 10pt;
    width: 138pt;
    margin-top: 43mm;
    margin-left: 51mm;
    font-size: 26pt;
    position: absolute;

 }
 .menu-list-heading2
 {
height: 10pt;
    width: 186pt;
    margin-top: 106mm;
    margin-left: 116mm;
    font-size: 24pt;
    position: absolute;
 }
 .menu-list-heading3
 {
    height: 10pt;
    width: 196pt;
    margin-top: 185mm;
    margin-left: 14mm;
    font-size: 25pt;
    position: absolute;
 }

 .img1
 {
  
  position: absolute;
  top: -46pt;
  right: -285pt;
  height: 256pt;
 filter: drop-shadow(0px 5px 17px #0A0909);
       
       
 }

 .img-hover1 {
  top: 10mm;
    width: 261pt;
    left: 152mm;
    height: 241pt;
    transition: transform 6s linear;
    position: absolute;
 }
.img-hover1:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .img2
 {
  position: absolute;
    top: 242pt;
    top: 242pt;
    left: -43pt;
    height: 225pt;
    filter: drop-shadow(0px 5px 17px #0A0909);
	
 }.img-hover2 {
  width: 325pt;
  transition: transform 6s linear;
}

.img-hover2:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 .img3
 {
position: absolute;
    top: 7pt;
    left: 378pt;
    /* size: 65pt; */
    height: 155pt;
    filter: drop-shadow(0px 5px 17px #0A0909);


 }

 .img-hover3 {
  width: 271pt;
  transition: transform 6s linear;
}

.img-hover3:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

 .menu-list-item-price{
   line-height: 39pt;
   font-weight: 800;
    display: grid;
    font-size: 21pt;
    position: absolute;
    top: 294pt;
    left: 266pt;
	background-color:white;
 }

  .menu-list-item1 {
     height: 10pt;
    width: 253pt;
    margin-left: 38mm;
    margin-top: 63mm;
    font-size: 13pt;
   line-height:1mm;
    position: absolute;
 }
 .menu-list-item2{
    height: 10pt;
    width: 202pt;
    margin-left: 117mm;
    margin-top: 137mm;
    font-size: 10pt;
    position: absolute;
 }
.menu-list-item3 {
      height: 10pt;
    width: 236pt;
    margin-left: 4mm;
    margin-top: 6mm;
    font-size: 12pt;
    position: absolute;
}

 
	 
	 

