@font-face {
  font-family: resto-name;
  src: url("../fonts/Vollkorn-Bold.ttf");
}

body {
  background-color: black;
  /* color: #f6f3f3; */
}

.menu-list-group {
  position: absolute;
}

.menu-list-group:nth-child(odd) {
  width: 103mm;
  height: auto;
  border: #05050508 solid 1pt;
  position: absolute;
  left: 72mm;
  top: 66mm;
}

.menu-list-group:nth-child(even) {
  width: 100mm;
  height: auto;
  border: #09040400 solid 1pt;
  position: absolute;
  left: 72mm;
  bottom: 30mm;
}

body .menu-wrapper {
  margin: auto;
  overflow: hidden;
  background: white;
  left: auto;
  top: auto;
  width: 250mm;
  height: 350mm;
  position: relative;
}

.inner-border {
  border-radius: 4mm;
  position: absolute;
  width: 234mm;
  height: 334mm;
  border: 2pt solid grey;
  left: 8mm;
  top: 8mm;
  z-index: 1;
}

.right-div {
  position: absolute;
  width: 10%;
  height: 334mm;
  background: #f9ab0a;
  top: 8mm;
  border-top-right-radius: 4mm;
  border-bottom-right-radius: 4mm;
  right: 8mm;
}

.left-image-div {
  position: absolute;
  width: 20%;
  height: 334mm;
  background-image: url("../IMG/img1.jpg");
  top: 8mm;
  border-top-left-radius: 4mm;
  border-bottom-left-radius: 4mm;
  left: 8mm;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.restorent-name {
  color: black;
  font-weight: bolder;
  font-size: 30pt;
  font-style: normal;
  position: relative;
  left: 312pt;
  top: 57pt;
  font-family: resto-name;
}

.restorent-discription {
  color: black;
  /* font-weight: bolder; */
  font-size: 16pt;
  font-style: normal;
  position: relative;
  left: 314pt;
  top: 43pt;
  font-family: auto;
}

.restaurant-add-content {
  width: 1000pt;
  position: absolute;
  top: -43pt;
  left: -84pt;
}

.restaurant-phone {
  position: absolute;
  top: 152pt;
  left: 400pt;
  font-size: 12pt;
}

.restaurant-web {
  position: absolute;
  top: 170pt;
  left: 400pt;
  font-size: 12pt;
}

.restaurant-email {
  position: absolute;
  top: 188pt;
  left: 400pt;
  font-size: 12pt;
}

.menu-list-heading {
  padding-left: 0mm;
  padding-bottom: 4mm;
  font-weight: 900;
  font-size: 29pt;
  font-family: auto;
  /* font-style: oblique; */
  color: #030202;
}

.img1 {
  height: 213pt;
  width: 147pt;
  position: absolute;
  top: -111pt;
  right: -189pt;
  /* mix-blend-mode: darken; */
  object-fit: none;
  object-position: 0;
}

.img-hover {
  width: 257pt;
  transition: transform 6s linear;
}

.img-hover:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img3 {
  height: 295pt;
  width: 50%;
  position: absolute;
  bottom: 256pt;
  right: -199pt;
  object-fit: cover;
  object-position: 0;
}

.img-hover1 {
  width: 271pt;
  transition: transform 6s linear;
}

.img-hover1:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img5 {
  height: 226pt;
  width: 130pt;
  position: absolute;
  top: 108pt;
  right: -198pt;
  /* mix-blend-mode: darken; */
  object-fit: none;
  object-position: 0;
}

.menu-list1-price {
  line-height: 39pt;
  font-weight: 800;
  display: grid;
  font-size: 21pt;
  position: absolute;
  top: 294pt;
  left: 266pt;
}

.menu-list-item {
  line-height: 118%;
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  align-items: center;
}
