body {
    background-color: #0a0a0a;
    color: #f6f3f3;
	 

	
}

.menu-list-group {
  position: absolute;
}

.menu-list-group:nth-child(odd) {
  width: 103mm;
    height: auto;
    border: #05050508 solid 1pt;
    position: absolute;
    left: 20mm;
    top: 85mm;
}

.menu-list-group:nth-child(even) {
  width: 100mm;
    height: auto;
    border: #09040400 solid 1pt;
    position: absolute;
    right: 17mm;
    bottom: 11mm;
}

body .menu-wrapper {
    border: 6pt solid white;
   margin: auto;
   overflow: hidden;
    background: linear-gradient(to bottom, rgb(1, 0, 0) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   background-blend-mode: multiply,multiply;
   left: auto;
   top: auto;
   width: 250mm;
   height: 350mm;
   position: relative;
 }
 
 

 
.box1
 {
height: 929pt;
    width: 642pt;
    position: absolute;
    left: 29pt;
    top: 29pt;
    /* background-color: #FFEB3B; */
    border-style: dotted;
}


.box2
 {
   height: 149pt;
    width: 192pt;
    position: absolute;
    left: 513pt;
    top: 249pt;
    background-color: #FFEB3B;
}

.box3
 {
   height: 149pt;
    width: 192pt;
    position: absolute;
    left: 0pt;
    bottom: 117pt;
    background-color: #FFEB3B;
}


 
.box4
{
  height: 44pt;
    width: 139pt;
    position: absolute;
    right: 185pt;
    bottom: 356pt;
    background-color: rgb(254, 254, 251);
}
 
 
.box5
{
  height: 45pt;
    width: 105pt;
    position: absolute;
    left: 58pt;
    top: 242pt;
    background-color: rgb(254, 254, 253);
}
 
 .borders
 {
  position: absolute;
    top: 104pt;
    left: 75pt;
    width: 502pt;
    border-top: 0pt solid ;
	 border-style: dotted;
	 
}
 .line{
	height: 2.5pt;
    position: absolute;
    left: 25pt;
    width: 646.5pt;
    bottom: 10pt;
    background-color: white;
}
.line1{
	height: 2.5pt;
    position: absolute;
    left: 42pt;
    width: 605pt;
    top: 18pt;
    background-color: white;
}
.line2{
	height: 2.5pt;
    position: absolute;
    left: -441pt;
    width: 936pt;
    top: 500pt;
    background-color: white;
    transform: rotate(90deg);
}
.line3{
	height: 2.5pt;
    position: absolute;
    right: -441pt;
    width: 935pt;
    top: 501pt;
    background-color: white;
    transform: rotate(90deg);
}
 .restorent-name
 {
	color: white;
    font-weight: bolder;
    font-size: 27pt;
    font-style: normal;
    position: absolute;
    left: 280pt;
    top: 30pt;
}
 
 .restorent-discription
 {
	color: white;
    font-weight: bolder;
    font-size: 49pt;
    font-style: normal;
    position: absolute;
    left: 238pt;
    top: 58pt;
}
 
 .restaurant-add-content
 {
  width: 1000pt;
    position: absolute;
    top: -15pt;
    left: -269pt;
 }
 
 .restaurant-phone
 {
  position: absolute;
  top: 147pt;
  left: 342pt;
  font-size: 20pt;
 }
 
 .restaurant-web
 {
  position: absolute;
  top: 178pt;
  left: 342pt;
  font-size: 20pt;
 }
 
 .restaurant-email
 {
  position: absolute;
    top: 210pt;
    left: 342pt;
    font-size: 20pt;
 }

 .menu-list-heading
 {
  padding-left: 3mm;
    padding-bottom: 7mm;
    font-weight: 900;
    font-size: 29pt;
    font-family: auto;
    /* font-style: oblique; */
    color: #030202;
 }

 
 
 
 .img1
 {
 transform: rotateZ(329deg);
    position: absolute;
    top: 82pt;
    right: -306pt;
    /* size: 65pt; */
    height: 256pt;
    border-radius: 50%;
    border: 7px solid red;
    object-fit: cover;
}

 .img-hover {
  width: 257pt;
  transition: transform 6s linear;
}

.img-hover:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .img2
 {
   transform: rotateY(45deg);
    position: absolute;
    top: 591pt;
    right: 123pt;
    /* size: 65pt; */
    height: 35pt;
 }


 .img3
 {
	position: absolute;
	top: 86pt;
    right: 348pt;
    /* size: 65pt; */
    height: 269pt;
    border-radius: 50%;
    border: 2mm solid red;
    object-fit: cover;

 }

 .img-hover1 {
  width: 271pt;
  transition: transform 6s linear;
}

.img-hover1:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 

 .img4
 {
  border: 7px solid red;
    z-index: 1;
    width: 188pt;
    border-radius: 50%;
    height: 179pt;
    position: absolute;
    top: 142pt;
    margin-left: 154mm;
}
.img-hover2 {
  width: 271pt;
  transition: transform 6s linear;
}

.img-hover2:hover {
  animation: rotation 6s infinite linear;
}

 .img5
 {
   height: 30pt;
    position: absolute;
    top: 448pt;
    right: 99pt;
 }

 .img6
 {
   transform: rotate(250deg);
    height: 30pt;
    position: absolute;
    top: 453pt;
    right: 128pt;
 }

 .img7
 {
   height: 153pt;
    position: absolute;
    top: 67pt;
    right: 43pt;
 }

 .img8
 {
   height: 72pt;
    position: absolute;
    top: 120pt;
    right: 209pt;
 }
 .img9
 {
	position: absolute;
    top: 23pt;
    height: 101pt;
    right: 491pt;
}
 .img10
 {
	position: absolute;
    top: 23pt;
    height: 101pt;
    right: 150pt;
}
.dot{
	font-size: 42pt;
    left: 34pt;
    width: 538pt;
    position: absolute;
    top: 914pt;
    height: 454pt;
}

.dot1{
	font-size: 42pt;
    left: -423pt;
    width: 538pt;
    position: absolute;
    top: 58pt;
    height: 480pt;
    transform: rotate(90deg);
}
.dot2{
	font-size: 42pt;
    left: 195pt;
    width: 538pt;
    position: absolute;
    top: 73pt;
    height: 480pt;
    transform: rotate(90deg);
}
.dot3{
	font-size: 42pt;
    left: 59pt;
    width: 359pt;
    position: absolute;
    top: 78pt;
    height: 175pt;
}
.dot4{
	font-size: 197pt;
    position: absolute;
    left: 7pt;
    top: -200pt;
    height: 100pt;
}
.dot5{
	font-size: 197pt;
    position: absolute;
    right: 12pt;
    top: -198pt;
    height: 100pt;
}

 .menu-list1-price
 {
   line-height: 39pt;
   font-weight: 800;
    display: grid;
    font-size: 21pt;
    position: absolute;
    top: 294pt;
    left: 266pt;
 }

 


 .menu-list-item {
  line-height: 118%;
    display: flex;
    /* align-content: space-evenly; */
    justify-content: space-between;
    font-size: xx-large;
    align-items: center;
	top:20mm;
 }
