body {
    background-color: #0a0a0a;
    color: #f6f3f3;
}

.menu-list-group {
  position: absolute;
}

.menu-list-group:nth-child(odd) {
  width: 103mm;
    height: auto;
    border: #05050508 solid 1pt;
    position: absolute;
    right: 5mm;
    top: 50mm;
}

.menu-list-group:nth-child(even) {
  width: 100mm;
    height: auto;
    border: #09040400 solid 1pt;
    position: absolute;
    right: 9mm;
    bottom: 25mm;
}

body .menu-wrapper {
    border: 6pt solid white;
   margin: auto;
   overflow: hidden;
    background: linear-gradient(to bottom, rgb(1, 0, 0) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   background-blend-mode: multiply,multiply;
   left: auto;
   top: auto;
   width: 250mm;
   height: 350mm;
   position: relative;
   border-radius: 10mm;
   /* display: flex; */
   /* justify-content: ; */
 }
 .menu-background-left{
  position: absolute;
  height: 100%;
  background-color: #e8e0da;
  /* border: 7mm solid red; */
  width: 50%;
 }
 
 .menu-background-right{
  position: absolute;
  height: 100%;
  background-color: #581e2f;
  /* border: 7mm solid red; */
  width: 51%;
  right: 0mm;
 }


 .menu-background{

 }
 

 
/* .box1
 {
  height: 177pt;
  width: 50pt;
  position: absolute;
  left: 0pt;
  top: 41pt;
  background-color: #FFEB3B;
 } */

/* .box2
 {
   height: 149pt;
    width: 192pt;
    position: absolute;
    left: 0pt;
    top: 249pt;
    background-color: #FFEB3B;
} */

/* .box3
 {
   height: 149pt;
    width: 192pt;
    position: absolute;
    left: 0pt;
    bottom: 88pt;
    background-color: #FFEB3B;
} */


 
.box4
{
  height: 44pt;
    width: 139pt;
    position: absolute;
    right: 98pt;
    bottom: 398pt;
    background-color: rgb(254, 254, 251);
}
 
 
.box5
{
  height: 45pt;
  width: 105pt;
  position: absolute;
  right: 125pt;
  top: 149pt;
  background-color: rgb(254, 254, 253);
}
 
 .borders
 {
   position: relative;
    top: 85pt;
    left: 18pt;
    width: 51pt;
    border-top: 3pt solid #AAA2616E;
 }

 .restorent-name
 {
   color:#AAA2616E;
    font-weight: bolder;
    font-size: 47pt;
    font-style: normal;
    position: relative;
    left: 14pt;
    top: -6pt;
 }
 
 .restorent-discription
 {
   color:#AAA2616E;
    font-weight: bolder;
    font-size: 27pt;
    font-style: normal;
    position: relative;
    left: 16pt;
    top: -23pt;
 }
 
 .restaurant-add-content
 {
     width: 1000pt;
    position: absolute;
    top:-139pt;
    left: 75pt;
  }
 
 .restaurant-phone
 {
  position: absolute;
  top: 147pt;
  left: 342pt;
  font-size: 20pt;
 }
 
 .restaurant-web
 {
  position: absolute;
  top: 178pt;
  left: 342pt;
  font-size: 20pt;
 }
 
 .restaurant-email
 {
  position: absolute;
    top: 210pt;
    left: 342pt;
    font-size: 20pt;
 }

 .menu-list-heading
 {
  padding-left: 28mm;
  padding-bottom: 6mm;
  font-weight: 900;
  font-size: 29pt;
  font-family: auto;
  /* font-style: oblique; */
  color: #171616;
 }

 
 
 
 .img1
 {
  transform: rotateZ(329deg); 
  position: absolute;
  top: 90pt;
  left: -118mm;
  size: 65pt;
  height: 256pt;
  border-radius: 50%;
  border: 7px solid red;
  object-fit: cover;
       
       
 }

 .img-hover {
  width: 257pt;
  transition: transform 6s linear;
}

.img-hover:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .img2
 {
   transform: rotateY(45deg);
    position: absolute;
    top: 591pt;
    right: 123pt;
    /* size: 65pt; */
    height: 35pt;
 }


 .img3
 {
  position: absolute;
    top: 90pt;
    right: 352pt;
    /* size: 65pt; */
    height: 269pt;
    border-radius: 50%;
    border: 2mm solid red;
    object-fit: cover;

 }

 .img-hover1 {
  width: 271pt;
  transition: transform 6s linear;
}

.img-hover1:hover {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 

 .img4
 {
   height: 30pt;
    position: absolute;
    top: 186pt;
    left: 184pt;
 }

 .img5
 {
   height: 30pt;
    position: absolute;
    top: 490pt;
    left: 203pt;
 }

 .img6
 {
   transform: rotate(250deg);
    height: 30pt;
    position: absolute;
    top: 490pt;
    left: 174pt;
 }

 .img7
 {
   height: 153pt;
    position: absolute;
    top: 111pt;
    left: 28pt;
 }

 .img8
 {
   height: 72pt;
    position: absolute;
    top: 198pt;
    left: 272pt;
 }

 




 .menu-list1-price
 {
   line-height: 39pt;
   font-weight: 800;
    display: grid;
    font-size: 21pt;
    position: absolute;
    top: 294pt;
    left: 266pt;
 }

 


 .menu-list-item {
  line-height: 118%;
    display: flex;
    /* align-content: space-evenly; */
    justify-content: space-between;
    font-size: xx-large;
    align-items: center;
 }

